@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype"), url("/assets/fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/assets/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype"), url("/assets/fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*:focus {
  outline: none;
}

body {
  font-size: 18px !important;
  line-height: 1.5;
  color: #000;
  font-weight: 400;
  font-family: "Montserrat" !important;
  min-width: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat" !important;
  font-weight: bold;
  margin: unset;
  line-height: 1.4;
}

h1,
.h1 {
  font-size: 2.2em;
}

h2,
.h2 {
  font-size: 1.7em;
}

h3,
.h3 {
  font-size: 1.3em;
}

h4,
.h4 {
  font-size: 1.2em;
}

h5,
.h5 {
  font-size: 1.1em;
}

h6,
.h6 {
  font-size: 1em;
}

p,
.p,
.psmall,
.pxsmall,
.pxxsmall {
  margin: 0;
}

p,
.p {
  font-size: 1em;
}

.psmall {
  font-size: 0.9em;
}

.pxsmall {
  font-size: 0.8em;
}

.pxxsmall {
  font-size: 0.7em;
}

a:hover {
  text-decoration: none;
}

.font-regular {
  font-weight: 400 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.text-white {
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.btn-danger {
  background: #f44913 !important;
  border: #f44913 !important;
  border-radius: 8px !important;
}

.btn-danger:hover {
  background: #f44913 !important;
}

.btn-danger.big {
  width: 200px;
  height: 60px;
}

.btn-primary {
  background: #3759d3 !important;
  border: #3759d3 !important;
  border-radius: 8px !important;
}

.btn-primary:hover {
  background: #3759d3 !important;
}

.btn-primary.big {
  width: 200px;
  height: 60px;
}

.logo.img, .logo.text {
  height: 120px;
}

.logo.img-regis, .logo.text-regis {
  height: 90px;
}

#home,
#registration {
  background-image: url(/assets/media/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#home .info,
#registration .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}

#home .info .border-info,
#registration .info .border-info {
  background: #f44913;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 100%;
}

#home .info .border-line,
#registration .info .border-line {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94%;
  height: 100%;
}

#registration {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#registration .barcode {
  background: #ffffff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
  padding: 5%;
}

#registration .barcode .text {
  width: 50%;
  border-right: 1px solid #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 20px;
}

#registration .barcode .code {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#registration .barcode .code img {
  width: 80%;
}

@media only screen and (max-width: 992px) {
  body {
    font-size: 16px !important;
  }
  .logo.img, .logo.text {
    height: 100px;
  }
}

@media screen and (max-width: 823px) and (orientation: landscape) {
  #home,
  #registration {
    height: 100%;
    width: 100vw;
  }
  #home .barcode,
  #registration .barcode {
    width: 90%;
  }
  #home .info,
  #registration .info {
    position: relative;
  }
  #home .logo.img, #home .logo.text,
  #registration .logo.img,
  #registration .logo.text {
    height: 70px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px !important;
  }
  .logo.img, .logo.text {
    height: 100px;
  }
  .btn-danger.big {
    width: 160px;
    height: 50px;
  }
  .btn-primary.big {
    width: 160px;
    height: 50px;
  }
}

@media only screen and (max-width: 576px) {
  body {
    font-size: 11px !important;
  }
  .logo.img, .logo.text {
    height: 50px;
  }
  .logo.img-regis, .logo.text-regis {
    height: 70px;
  }
  #home {
    text-align: left;
  }
  #registration {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 414px) and (orientation: portrait) {
  .logo.img {
    height: 150px;
  }
  .logo.text {
    height: 50px;
  }
  .logo.img-regis {
    height: 110px;
  }
  .logo.text-regis {
    height: 40px;
  }
  #registration {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #registration .barcode {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #registration .barcode .text {
    width: 100%;
    padding-right: 0;
    border-right: unset;
  }
  #registration .barcode .code {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  #registration .barcode .code img {
    width: 50%;
  }
}

@media only screen and (max-width: 414px) {
  #registration .barcode {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */